<div>

	<script type="text/ng-template" id="new">
		<div class="modal-header new">
			<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
			<h4 class="modal-title">新建模板</h4>
		</div>

		<div class="modal-body new">
			<form role="form" class="form-horizontal" role="form">
				<table class="table">
					<tbody>
					<tr>
						<th width="20%">模板属性</th>
						<th></th>
					</tr>
					<tr>
						<td>模板名称</td>
						<td>
							<input type="text" class="form-control">
						</td>
					</tr>
					<tr>
						<td>适用岗位</td>
						<td>
							<input type="text" class="form-control">
						</td>
					</tr>
					<tr>
						<td>报告类型</td>
						<td>
							<select class="form-control">
								<option>日报</option>
								<option>周报</option>
								<option>月报</option>
								<option>季报</option>
								<option>半年报</option>
								<option>年报</option>
							</select>
						</td>
					</tr>
					</tbody>
				</table>

				<table class="table">
					<tbody>
					<tr>
						<th width="20%">填报项设置</th>
						<th></th>
					</tr>
					<tr>
						<td>
							<a type="button" class="btn btn-xs btn-danger" style="margin-bottom: 0;">删除</a>
							<a type="button" class="btn btn-xs btn-info" style="margin-bottom: 0;">添加</a>
						</td>
						<td>
							<input type="text" class="form-control">
						</td>
					</tr>
					<tr>
						<td>
							<a type="button" class="btn btn-xs btn-danger" style="margin-bottom: 0;">删除</a>
							<a type="button" class="btn btn-xs btn-info" style="margin-bottom: 0;">添加</a>
						</td>
						<td>
							<input type="text" class="form-control">
						</td>
					</tr>
					<tr>
						<td>
							<a type="button" class="btn btn-xs btn-danger" style="margin-bottom: 0;">删除</a>
							<a type="button" class="btn btn-xs btn-info" style="margin-bottom: 0;">添加</a>
						</td>
						<td>
							<input type="text" class="form-control">
						</td>
					</tr>
					</tbody>
				</table>
			</form>
		</div>

		<div class="modal-footer new">
			<button type="button" class="btn btn-white" ng-click="currentModal.close();">取消</button>
			<button type="button" class="btn btn-success" ng-click="currentModal.dismiss();">确定</button>
		</div>
	</script>

	<script type="text/ng-template" id="view">
		<div class="modal-header view">
			<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
			<h4 class="modal-title">部门经理岗位模板</h4>
		</div>

		<div class="modal-body view">
			<form action="" class="form-horizontal ng-pristine ng-valid">

				<!-- 今日工作记录 -->
				<div class="form-group">
					<label class="col-sm-3 control-label">今日工作记录</label>

					<div class="col-sm-9">
						<textarea class="form-control autogrow" cols="5" placeholder="写下今日的工作记录." style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
					</div>
				</div>
				<div class="form-group-separator"></div>

				<!-- 需协调事项 -->
				<div class="form-group">
					<label class="col-sm-3 control-label">需协调事项</label>

					<div class="col-sm-9">
						<textarea class="form-control autogrow" cols="5" placeholder="写下需协调事项." style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
					</div>
				</div>
				<div class="form-group-separator"></div>

				<!-- 其它情况反映 -->
				<div class="form-group">
					<label class="col-sm-3 control-label">其它情况反映</label>

					<div class="col-sm-9">
						<textarea class="form-control autogrow" cols="5" placeholder="写下其它情况反映." style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
					</div>
				</div>
				<div class="form-group-separator"></div>

				<!-- 明日计划 -->
				<div class="form-group">
					<label class="col-sm-3 control-label">明日计划</label>

					<div class="col-sm-9">
						<textarea class="form-control autogrow" cols="5" placeholder="写下明日计划." style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
					</div>
				</div>
			</form>
		</div>

		<div class="modal-footer view">
			<button type="button" class="btn btn-white" ng-click="currentModal.close();">取消</button>
			<button type="button" class="btn btn-success" ng-click="currentModal.dismiss();">确定</button>
		</div>

	</script>

	<script type="text/ng-template" id="edit">
		<div class="modal-header edit">
			<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
			<h4 class="modal-title">部门经理岗位模板</h4>
		</div>

		<div class="modal-body edit">
			<form role="form" class="form-horizontal" role="form">
				<table class="table">
					<tbody>
					<tr>
						<th width="20%">模板属性</th>
						<th></th>
					</tr>
					<tr>
						<td>模板名称</td>
						<td>
							<input type="text" class="form-control">
						</td>
					</tr>
					<tr>
						<td>适用岗位</td>
						<td>
							<input type="text" class="form-control">
						</td>
					</tr>
					</tbody>
				</table>

				<table class="table">
					<tbody>
					<tr>
						<th width="20%">填报项设置</th>
						<th></th>
					</tr>
					<tr>
						<td>
							<a type="button" class="btn btn-xs btn-danger" style="margin-bottom: 0;">删除</a>
							<a type="button" class="btn btn-xs btn-info" style="margin-bottom: 0;">添加</a>
						</td>
						<td>
							<input type="text" class="form-control">
						</td>
					</tr>
					<tr>
						<td>
							<a type="button" class="btn btn-xs btn-danger" style="margin-bottom: 0;">删除</a>
							<a type="button" class="btn btn-xs btn-info" style="margin-bottom: 0;">添加</a>
						</td>
						<td>
							<input type="text" class="form-control">
						</td>
					</tr>
					<tr>
						<td>
							<a type="button" class="btn btn-xs btn-danger" style="margin-bottom: 0;">删除</a>
							<a type="button" class="btn btn-xs btn-info" style="margin-bottom: 0;">添加</a>
						</td>
						<td>
							<input type="text" class="form-control">
						</td>
					</tr>
					</tbody>
				</table>
			</form>
		</div>

		<div class="modal-footer edit">
			<button type="button" class="btn btn-white" ng-click="currentModal.close();">取消</button>
			<button type="button" class="btn btn-success" ng-click="currentModal.dismiss();">确定</button>
		</div>
	</script>

	<script type="text/ng-template" id="delete">
		<div class="modal-header">
			<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
			<h4 class="modal-title">删除 部门经理岗位模板</h4>
		</div>

		<div class="modal-body">
			确定删除 <b>部门经理岗位模板</b> ?
			<br>
			请注意, 该操作无法被恢复!
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-white" ng-click="currentModal.close();">关闭</button>
			<button type="button" class="btn btn-danger" ng-click="currentModal.dismiss();">删除</button>
		</div>
	</script>

	<style>
		.modal-body {
			padding: 20px 20px !important;
		}
		.new table td {
			vertical-align: middle !important;
		}
	</style>

	<!-- 头栏 -->
	<div class="row">

		<div class="col-sm-12">

			<div class="panel panel-default">

				<div class="vertical-top">
					<table width="100%" style="line-height: 32px;">
						<tr>
							<td style="width: 40%;">
								<a type="button" class="btn btn-success" style="margin-bottom: 0;" ng-click="openModal('new', 'lg')">新建模板</a>
							</td>
							<td style="width: 20%; text-align: center">
								<span style="font-size: 120%;">日报设置</span>
							</td>
							<td style="width: 40%;">
								<div class="btn-group" data-toggle="buttons" style="float: right;">
									<label class="btn btn-white" style="margin: 0;">日报</label>
									<label class="btn btn-white" style="margin: 0;">周报</label>
									<label class="btn btn-white" style="margin: 0;">月报</label>
									<label class="btn btn-white" style="margin: 0;">季报</label>
									<label class="btn btn-white" style="margin: 0;">半年报</label>
									<label class="btn btn-white" style="margin: 0;">年报</label>
								</div>
							</td>
						</tr>
					</table>
				</div>

			</div>

		</div>

	</div>

	<!-- 绩效面板 -->
	<div class="panel panel-default">
		<div class="panel-body">

			<div class="row">
				<div class="col-sm-12">
					<table class="table table-bordered table-striped">
						<thead>
						<tr>
							<th>模板名称</th>
							<th width="30%">适用岗位</th>
							<th width="20%">操作</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>部门经理岗位模板</td>
							<td>部门经理</td>
							<td>
								<a type="button" class="performance-operation-button" ng-click="openModal('view', 'lg');">查看</a>
								<a type="button" class="performance-operation-button" ng-click="openModal('edit', 'lg');">编辑</a>
								<a type="button" class="performance-operation-button" ng-click="openModal('delete');">删除</a>
							</td>
						</tr>
						<tr>
							<td>部门经理岗位模板</td>
							<td>部门经理</td>
							<td>
								<a type="button" class="performance-operation-button" ng-click="openModal('view', 'lg');">查看</a>
								<a type="button" class="performance-operation-button" ng-click="openModal('edit', 'lg');">编辑</a>
								<a type="button" class="performance-operation-button" ng-click="openModal('delete', 'lg');">删除</a>
							</td>
						</tr>
						<tr>
							<td>部门经理岗位模板</td>
							<td>部门经理</td>
							<td>
								<a type="button" class="performance-operation-button" ng-click="openModal('view', 'lg');">查看</a>
								<a type="button" class="performance-operation-button" ng-click="openModal('edit', 'lg');">编辑</a>
								<a type="button" class="performance-operation-button" ng-click="openModal('delete', 'lg');">删除</a>
							</td>
						</tr>
						</tbody>
					</table>

				</div>
			</div>

		</div>
	</div>
</div>
